<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">
            
    <bean id="dataSource" destroy-method="close"
          class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/computer-database-db"/>
        <property name="username" value="admincdb"/>
        <property name="password" value="qwerty1234"/>
    </bean>
    
    <bean id="abstractDao" abstract="true">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <!-- ===== Déclaration des DAO ===== -->
    <bean id="computerDao" class="com.excilys.training.persistence.impl.ComputerDAOImpl" parent="abstractDao" />
    <bean id="companyDao" class="com.excilys.training.persistence.impl.CompanyDAOImpl" parent="abstractDao"/>

    <!-- ===== DAOFactory ===== -->
    <bean id="daoFactory" class="com.excilys.training.persistence.DAOFactory">
        <property name="computerDao" ref="computerDao"/>
        <property name="companyDao" ref="companyDao"/>
    </bean>

    <!-- ==== AbstractService ===== -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="com.excilys.training.service.AbstractService"/>
        <property name="targetMethod" value="setDaoFactory"/>
        <property name="arguments" ref="daoFactory"/>
    </bean>
    
    <!-- ===== Déclaration des Services ===== -->
    <bean id="computerService" class="com.excilys.training.service.impl.ComputerServiceImpl"/>
    <bean id="companyService" class="com.excilys.training.service.impl.CompanyServiceImpl"/>

    <!-- ===== ServiceFactory ===== -->
    <bean id="serviceFactory" class="com.excilys.training.service.ServiceFactory">
        <property name="computerService" ref="computerService"/>
        <property name="companyService" ref="companyService"/>
    </bean>

    <!-- ==== AbstractService ===== -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="com.excilys.training.web.servlet.AbstractServlet"/>
        <property name="targetMethod" value="setServiceFactory"/>
        <property name="arguments" ref="serviceFactory"/>
    </bean>
</beans>